@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@font-face {
    font-family: 'Capuche';
    src: url('../fonts/Capuche Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

