.cor{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    flex-direction: column;   
}

.footer{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

.footer2{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60px;
    width: 100%; */
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}