.imagem-fundo-cadastro{
    display: flex;
    background-position: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/backgrund-login-cadastro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.boxCadastro{
    width: 25%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px black;
    border: solid 1px blueviolet;
    margin-top: 0;
}

.boxTexto{
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    padding: 25px;
    padding-top: 4vw;
}

.boxTexto1{
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    padding: 25px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.boxTexto1 input {
    height: 20px;
}

.divbutton{
    font-family: poppins;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    /* background-color: black; */
}

.divbutton button{
    background-color: blueviolet;
    font-weight: 100;
    font-family: poppins;
    font-size: 16px;
    color:#fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 6vh;
    width: 13vw;
    /* box-shadow: 2px 2px 2px black; */
}

.divbutton button:hover{
    box-shadow: 2px 2px 2px black;
}