body{
margin: 0;
}

.divcor{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    /* flex-direction: ; */
    /* align-items: center; */
}

.divLateral{
    display: flex;
    height: 100vh;
    width: 20%;
    background-color: black;
    text-align: center;
    flex-direction: column;
    /* align-items: center; */
    
}

.divTitle{
    font-size: 45px;
    font-family: Capuche;
    color: #FFF;
    padding-top: 35%;
}

.Bluefont{
    font-size: 45px;
    font-family: Capuche;
    color: blueviolet;
}

.divVotacao{
    font-size: 20px;
    font-family: poppins;
    padding-top: 20%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

a{
    text-decoration: none;
}

.divisao{
    background-color: blueviolet;
    height: 100vh;
    width: 2px;
}

.divTotalVotacao{
    background-color: rgb(0, 0, 0);
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBranca{
    background-color: #ecdcdc;
    width: 40%;
    height: 65%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px blueviolet ;
}

.divTitulo{
    font-family: poppins;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#selDesfile{
    border-color: blueviolet;
    width: 70%;
    height: 30px;
    font-family: poppins;
    font-weight: 700;
    font-size: 20px;
}

.select{
    padding-top: 40px;
    padding-bottom: 170px;
}

.divbutton button{
    background-color: blueviolet;
    font-weight: 100;
    font-family: poppins;
    font-size: 16px;
    color:#fff;
    border-radius: 5px;
    border: none;
    /* cursor: pointer; */
    height: 6vh;
    width: 13vw;
    /* box-shadow: 2px 2px 2px black; */
}